* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell,
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}
/* TIMER */
.timer {
  display: flex;
  font-weight: 700;
  font-size: 150%;
  margin-top: 30px;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.field:not(:last-child) {
  margin-right: 15px;
}
.value {
  font-size: 43px;
  font-weight: 400;
}
.label {
  font-weight: 400;
  font-size: 19px;
}
